# Ignorar cualquier base de datos SQLite
*.db

# Ignorar checkpoints de Jupyter
.ipynb_checkpoints/

# Ignorar cachés de Python
__pycache__/
*.pyc

# Ignorar archivos temporales del sistema
Thumbs.db
.DS_Store
